<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Notes Ninja</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-logo">
          <img src="/static/images/logo.png" alt="Notes Ninja Logo" width="51">
        </div>
        <nav>

            <button><a href="#">Home</a></button>
            <button><a href="#about">About the Project</a></button>
            <button><a href="#creators">Know the Creators</a></button>
            <button><a href="#contact">Contact Us</a></button>
            <button><a href="https://github.com/goswamiumang108/VidyaAI/" target="_blank">GitHub Repository</a></button>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <h1>Welcome to Notes Ninja</h1>
        <p>Upload a PDF file of a book and enter your syllabus topics to get concise study notes.</p>
        <form id="upload-form">
          <input type="file" id="pdf-file" accept=".pdf" required>
          <label for="pdf-file">Select a PDF file</label><br>
            <label for="syllabus-topics"></label>
            <textarea id="syllabus-topics" placeholder="Enter your syllabus topics here" required></textarea><br>
          <button type="submit">Generate Study Notes</button>
        </form>
        <div id="notes-container"></div>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="social-media">
          <a href="#"><img src="/static/images/facebook.png" alt="Facebook" width="51"></a>
          <a href="#"><img src="/static/images/instagram.png" alt="Instagramr" width="51"></a>
          <a href="#"><img src="/static/images/whatsapp.png" alt="Whatsapp" width="51"></a>
        </div>
      </div>
    </footer>

    <script src="/static/js/script.js"></script>
  </body>
</html>